code {
    font-size: 133%;
}
#editor-container ul {
    list-style-type: none;
    padding-left: 1em;
}
#content li {
    border-left: 3px solid #f0f0f0;
    padding-left: 2px;
}
.editor-button {
    padding: 0.25em 1em;
    font-weight: bold;
    color: rgba(0,0,0,0.66);
    background-color: #eee;
}
.inline-button {
    color: rgba(0,0,0,0.66);
    background-color: #eee;
}
.editor-button:hover, .inline-button:hover {
    color: black;
    background-color: #bbb;
}
.new-button, .reset-button {
    margin-left: 1em;
}
.new-button {
    background-color: lightgoldenrodyellow;
}
.new-button:hover {
    background-color: gold;
}
.reset-button {
    background-color: pink;
}
.reset-button:hover {
    background-color: hotpink;
}
.reload-button {
    background-color: lightblue;
}
.reload-button:hover {
    background-color: deepskyblue;
}
.delete-button {
    margin-right: 10em;
    background-color: pink;
}
.delete-button:hover {
    background-color: hotpink;
}
.save-button {
    background-color: lightgreen;
}
.save-button:hover {
    background-color: limegreen;
}
.edit-button {
    background-color: mediumpurple;
}
.edit-button:hover {
    background-color: limegreen;
}
span[contenteditable], code[contenteditable] {
    color: black;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 6px;
}
span[contenteditable]:hover, code[contenteditable]:hover {
    border: 1px solid gray;
}
span[contenteditable]:focus, code[contenteditable]:focus {
    background-color: lightgoldenrodyellow;
}
span.disabled, code.disabled {
    border-color: gray;
    color: gray;
    background-color: lightgray;
}
.input-root {
    padding: 6px;
}
.input-label {
    line-height: 200%;
    user-select: none;
}
.documentation-icon {
    padding: 0.125em;
    cursor: help;
    opacity: 0.33;
}
.documentation-icon:hover {
    opacity: 1;
}