#editor-container ul {
    list-style-type: none;
    padding-left: 1em;
}
#content li {
    margin: 0.2em;
}
.editor-button {
    padding: 0.25em 1em;
    font-weight: bold;
    color: rgba(0,0,0,0.66);
}
.editor-button:hover {
    color: black;
}
.new-button, .reset-button {
    margin-left: 1em;
}
.new-button {
    background-color: lightgoldenrodyellow;
}
.new-button:hover {
    background-color: gold;
}
.reset-button {
    background-color: lightgray;
}
.reset-button:hover {
    background-color: darkgray;
}
.delete-button {
    margin-right: 10em;
    background-color: pink;
}
.delete-button:hover {
    background-color: hotpink;
}
.save-button {
    background-color: lightgreen;
}
.save-button:hover {
    background-color: limegreen;
}