html, body {
    background-color: var(--main-background-color);
    color: var(--body-text-color);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container */
#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Top Bar */
#menu-bar {
    box-sizing: border-box;
    background-color: var(--topbar-background-color);
    padding: 0.5em 1em;
    border-bottom: 2px solid var(--border-color);
}
#menu-bar ul {
    background-image: url('../media/sw_logo.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 32px;
    vertical-align: middle;
    height: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0 0 0 48px;
    overflow: hidden;
}
#menu-bar li {
    float: left;
}
#menu-bar li a {
    color: var(--body-text-color);
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 6px;
}

#menu-bar li a:hover {
    background-color: var(--topbar-link-hover);
}
.menu-bar-current, .menu-bar-current:hover {
    background-color: var(--topbar-link-active) !important;
}
.badge {
    background-color: red;
    color: var(--topbar-badge-text);
    font-weight: bold;
    border-radius: 4px;
    padding: 0.125em 0.25em;
}

/* Page Container */
#page-container {
    display: flex;
    flex: 1;
}

/* Side Bar */
#side-bar {
    flex: 0 0 20vw; /* TODO: is it possible to make this shrink to the size of the contents? */
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    overflow: auto;
    background-color: var(--sidebar-background-color);
    border-right: 2px solid var(--border-color);
}
#side-bar a {
    color: var(--sidebar-link-color);
    border-radius: 6px;
    padding: 2px 6px;
    line-height: 133%;
    text-decoration: none;
}
#side-bar a:hover {
    background-color: var(--sidebar-link-hover);
}

/* Content */
#content {
    flex: 1;
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    overflow: auto;
}
.hidden {
    display: none;
}

input, select, button {
    border-radius: 6px;
    font-size: 100%;
    margin: 0.25em;
    border-color: var(--input-border-color);
    border-style: solid;
    box-sizing: border-box;
}
select {
    padding: 0.25em;
    background-color: var(--select-background-color);
}
input[type="checkbox"] {
    scale: 150%;
    padding: 0.25em;
    accent-color: var(--checkbox-accent-color);
}
label {
    padding: 0.25em;
}
span, input, a, button {
    transition:
            background-color 0.1s,
            opacity 0.1s,
            border 0.1s,
            color 0.1s,
            transform 0.1s,
            filter 0.1s;
}
code {
    background-color: var(--code-background-color);
}
select {
    color: var(--body-text-color);
}

/* Buttons */
.main-button {
    padding: 0.25em 1em;
    font-weight: bold;
    color: var(--button-main-text-color);
    background-color: var(--button-main-background-color);
}
.inline-button {
    color: var(--button-inline-text-color);
    background-color: transparent !important;
    border: 2px solid transparent;
    filter: saturate(0.5);
}
.main-button:hover, .inline-button:hover {
    color: var(--button-main-text-hover);
    background-color: var(--button-main-background-hover) !important;
    border-color: var(--button-main-border-hover);
    filter: saturate(1);
}
.main-button:active, .inline-button:active {
    transform: translate(0,2px)
}

.new-button {
    background-color: var(--button-new-background-color);
}
.new-button:hover {
    background-color: var(--button-new-background-hover) !important;
}
.delete-button {
    background-color: var(--button-delete-background-color);
}
.delete-button:hover {
    background-color: var(--button-delete-background-hover) !important;
}
.save-button {
    background-color: var(--button-save-background-color);
}
.save-button:hover {
    background-color: var(--button-save-background-hover) !important;
}

/* Fields */
span[contenteditable], code[contenteditable] {
    color: var(--body-text-color);
    padding: 4px;
    border: 1px solid var(--editable-border-color);
    border-radius: 6px;
    margin-right: 0.25em;
    line-height: 160%;
}
span[contenteditable]:hover, code[contenteditable]:hover {
    border: 1px solid var(--editable-border-hover);
}
span[contenteditable]:focus, code[contenteditable]:focus {
    background-color: var(--editable-background-focus);
}
span.disabled, code.disabled {
    border-color: var(--disabled-border-color);
    color: var(--disabled-text-color);
    background-color: var(--disabled-background-color);
}