#editor-container ul {
    list-style-type: none;
    padding-left: 1em;
}
#content li {
    margin: 0.2em;
}
.editor-button {
    padding: 0.5em 2em;
}
.delete-button {
    margin-right: 10em;
    background-color: pink;
}
.delete-button:hover {
    background-color: hotpink;
}
.save-button {
    background-color: lightgreen;
}
.save-button:hover {
    background-color: limegreen;
}